.header {
    background: url(../res/header.png) no-repeat center, rgb(196, 196, 196);
    background-size: cover;
    flex: 0 0 15em;
}

iframe {
    border: none;
    height: 100%;
    flex: 1;
}

.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}