.footer {
    flex: 0 0 1em;
    padding: 0.1em;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    user-select: none;
}

.footer > * {
    flex: 1 1 0;
}

.impressum {
    text-align: right;
}

.impressum a {
    text-decoration: none;
    color: white;
}

.login {
    cursor: pointer;
}

.footer a {
    color: white;
}