.championImage {
    width: 3rem;
    height: 3rem;
}

.team .kda {
    margin: auto 0;
    text-align: right;
    min-width: 6em;
}

.team {
    border: solid 4px white;
    color: black;
}

.blueTeam {
    background-color: #f5fafe;
    border-right-width: 0;
}

.redTeam {
    background-color: #fff3f3;
    border-left-width: 0;
}

.redTeam input {
    text-align: right;
}

.redTeam > .row {
    flex-direction: row-reverse;
    text-align: right;
}

.redTeam .kda {
    text-align: left;
}

.playerInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    width: 240px;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    width: 100%;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

.summonerSpell {
    width: 1.5rem;
    height: 1.5rem;
}

.championSpellContainer img {
    display: block;
}

.championSpellContainer {
    display: flex;
    align-items: center;
    padding: 0.2rem 0;
}

.redTeam .championSpellContainer {
    flex-direction: row-reverse;
}

.team-result {
    font-size: 1.4rem;
    text-align: center;
}

.team-result-win {
    color: #28cf28;
}

.team-result-loss {
    color: #cf2828;
}

.item-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
}

.itemImage {
    width: 1.5em;
}

.redTeam .playerName {
    justify-content: flex-end;
}

.playerName {
    display: flex;
    align-items: center;
    font-weight: bold;
    white-space: nowrap;
}

.trinket-container {
    margin: 0 0.4rem;
}

.inventory-container {
    flex-grow: 0;
    display: flex;
    align-items: center;
}

.redTeam .inventory-container {
    flex-direction: row-reverse;
}

.bans {
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
}

.bans .championImage {
    width: 1.5em;
    height: 1.5em;
}

.player-stats {
    font-size: 0.75rem;
    flex-grow: 0 !important;
    display: flex;
    justify-content: space-between;
}