.playerDetails-loading {
    position: sticky;
    left: 0;
    right: 0;
    width: 100vw;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.matchHistory {
    margin: 2rem 0;
}

.matchHistoryEntry {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    padding-left: 0 !important;
}

.matchHistoryEntryData {
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 5em;
    cursor: pointer;
    overflow: hidden;
}

.matchHistoryEntry:last-child {
    border-bottom: 1px solid !important;
}

.resultIndicator {
    align-self: stretch;
    flex: 0 0 1rem;
}

.resultIndicator-win {
    background-color: #28cf28;
}

.resultIndicator-loss {
    background-color: #cf2828;
}

.champion {
    display: flex;
    margin: 0 1rem;
}

.summonerSpells {
    display: flex;
    flex-direction: column;
}

.championName {
    margin: 0 1rem;
    width: 8em;
}

.matchTime {
    text-align: right;
}

.gold {
    margin: 0 1rem;
    min-width: 3em;
}

.matchHistoryEntry .kda {
    margin: 0 1rem;
    min-width: 4em;
    text-align: right;
}

.matchHistoryEntry .items {
    margin: 0 1rem;
    text-align: center;
    width: calc(7 * 2.5rem);
}

.matchHistoryEntry .items .itemImage {
    width: 2.5rem;
    height: 2.5rem;
}

.matchHistoryEntry .items .item-empty {
    border: solid 1px black;
    background-color: #3b3b3b;
}

.matchHistoryContainer {
    position: sticky;
    right: 0;
    left: 0;
    width: 100vw !important;
    padding: 0;
    margin: 0 !important;
}

.matchHistory {
    padding: 0 2rem;
}

.rdt_ExpanderRow {
    display: flex;
    justify-content: center;
}

.provisional-switch {
    font-size: 0.85rem;
}