.record-slider {
    margin: 4rem 2.5rem;
}

@media screen and  (max-width: 420px) {
    .record-slider {
        margin: 4rem 0;
    }
}

.record-slider .slick-dots li button:before {
    color: white !important;
}

.recordValue {
    font-weight: bold;
    white-space: nowrap;
    float: right;
}

.record-card {
    height: 100%;
    margin: 0 1em;
}

.record-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.record-slider .slick-slide {
    outline: none !important;
}

.slick-dots {
    bottom: -4rem !important;
}

.slick-dots li {
    width: 1rem !important;
    height: 1rem !important;

}

.slick-dots li button:before {
    font-size: 0.5rem !important;
    line-height: 1rem !important;
}

.slick-prev, .slick-next {
    width: 1rem !important;
    height: 1rem !important;
}

.slick-prev:before, .slick-next:before {
    font-size: 1.5rem !important;
}

.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}

.slick-slide > div {
    height: 100%;
}