.winrate-bar {
    width: 100%;
}

.winrate-label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}