.content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background-image: url(./res/team.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 30em;
    margin-bottom: 0;
}

.data-frame {
    border: none;
    width: 100%;
    flex: 1;
}
